<% @posts.each do |post| %>
  <div class="post-item">
    <h3><%= post.title %></h3>
    <p><%= raw post.content.truncate(358) %></p>
    <p class="inline">Tags:</p>
    <% post.tag_arr.each do |tag| %>
      <%= link_to(tag.upcase, "#{tags_path}/#{tag.parameterize}") %>
    <% end %>

    <p class="block">By: <%= post.author.present? ? post.author : '- - - -' %></p>
    <p><%= post.updated_at.localtime.strftime("%m-%d-%y") %></p>
    <% if user_signed_in? %>
      <p>Category: <%= post.category %></p>
      <div class="post-options">
        <span><%= link_to 'Show', post %></span>
        <span><%= link_to 'Edit', edit_post_path(post) %></span>
        <span><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    <% else %>
      <%= link_to 'View more', post, class: 'btn'%>
    <% end %>
  </div>
<% end %>
