<% @posts.each do |post| %>
  <div class="post-item">
    <h3><%= post.title %></h3>
    <span><%= raw(post.content).truncate(358) %></span>
    <% post.tag_arr.each do |tag| %>
      <%= link_to(tag, "#{tags_path}/#{tag.parameterize}") %>
    <% end %>
    <% if user_signed_in? %>
      <h5><%= post.category %></h5>
      <div class="post-options">
        <span><%= link_to 'Show', post %></span>
        <span><%= link_to 'Edit', edit_post_path(post) %></span>
        <span><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    <% else %>
      <%= link_to 'View more', post, class: 'btn'%>
    <% end %>
  </div>
<% end %>
