<%= render '/layouts/header' %>
<%= render '/layouts/nav' %>
<main class="flex margin">
  <aside class="left-aside aside-flex padding-sm">
    <h3 class="title gn">Stock Prices</h3>
    <%= render 'components/stock-graph' %>
    <%= render 'ads/aside_ad' %>
    <%= render 'ads/aside_ad' %>
  </aside>
  <section class="center-flex padding-sm">
    <div class="comments-section m-b-md">
      <h3 class="title bl">Commentary</h3>

    <ul class="table-row no-list-style">
      <% @commentaries.each do |post| %>
      <li><%= link_to post.title, post %></li>
      <% end %>
    </ul>

      <button type="button" name="button" class="btn btn-bl">+ More Commentaries</button>
    </div>
    <div class="news-section">
      <h3 class="title bl">News</h3>

      <ul class="table-row no-list-style">
        <% @news.each do |post| %>
        <li><%= link_to post.title, post %></li>
        <% end %>
      </ul>

      <button type="button" name="button" class="btn btn-bl">+ More News</button>
    </div>
  </section>
  <aside class="right-aside aside-flex padding-sm">
    <h3 class="title gn">Daily Chart</h3>
      <canvas id="daily-chart"></canvas>
    <div class="m-b-md"></div>
    <h3 class="title gn">Weekly Chart</h3>
      <canvas id="weekly-chart"></canvas>
    <div class="m-b-md"></div>

    <%= render 'ads/aside_ad' %>
  </aside>
</main>
