<%= render '/layouts/header' %>
<%= render '/layouts/nav' %>
<main class="flex margin">
  <aside class="left-aside aside-flex padding-sm">
    <h3 class="title gn">Stock Prices</h3>
    <%= render 'components/stock-graph' %>
    <%= render 'ads/aside_ad' %>
    <%= render 'ads/aside_ad' %>
  </aside>
  <section class="center-flex padding-sm">
    <div class="comments-section m-b-md">
      <div class="title bl">
        <h3 class="inline">Commentary</h3>
        <div class="f-right">
          <%= will_paginate @commentaries %>
        </div>
      </div>
    <ul class="table-row no-list-style index-list">
      <% @commentaries.each do |post| %>
      <li>
        <%= icon('far', 'comment-alt') %>
        <%= link_to post.title.truncate(32), post %>
        <div class="f-right">
          <span class="upcase"><%= post.author %></span>
          <span><%= post.updated_at.strftime("%m-%d") %></span>
        </div>
        <%= link_to '', post, class: 'link-to' %>
      </li>
      <% end %>
    </ul>
    <%= link_to '+ More Commentaries', commentary_path, class: 'blue-btn btn' %>
    </div>
    <div class="news-section">
      <div class="title bl">
        <h3 class="inline">News</h3>
        <div class="f-right">
          <%= will_paginate @news %>
        </div>
      </div>

      <ul class="table-row no-list-style index-list">
        <% @news.each do |post| %>
        <li>
          <%= icon('far', 'comment-alt') %>
          <%= link_to post.title.truncate(32), post %>
          <div class="f-right">
            <span class="upcase"><%= post.author %></span>
            <span><%= post.updated_at.strftime("%m-%d") %></span>
          </div>
          <%= link_to '', post, class: 'link-to' %>
        </li>
        <% end %>
      </ul>
      <%= link_to '+ More News', commentary_path, class: 'blue-btn btn' %>
    </div>
  </section>
  <aside class="right-aside aside-flex padding-sm">
    <h3 class="title gn">Daily Chart</h3>
      <canvas id="daily-chart"></canvas>
    <div class="m-b-md"></div>
    <h3 class="title gn">Weekly Chart</h3>
      <canvas id="weekly-chart"></canvas>
    <div class="m-b-md"></div>

    <%= render 'ads/aside_ad' %>
  </aside>
</main>
