<% title 'News' %>
<%= render 'layouts/inner_nav' %>
<section class="content">
  <%= render 'ads/banner' %>
  <section class="width margin flex-row">
    <section class="content-container flex-2">
      <h2>News</h2>
      <%= render 'components/truncated_list' %>
    </section>
    <aside class="stock-aside flex-1">
      <%= render 'ads/aside_ad' %>
      <%= render 'ads/aside_ad' %>
      <%= render 'ads/aside_ad' %>
    </aside>
  </section>
</section>
