<% title 'Search' %>
<%= render 'layouts/inner_nav' %>
<section class="content">
  <%= render 'ads/banner' %>
  <section class="width margin flex-row">
    <section class="content-container flex-2">
      <h3 class="m-b-md inline">Search results for</h3> <h3 class="blue inline"><%= params[:search] %></h3>
      <%= render 'components/stock_callout', :content => true %>
      <% if !(@commentary.blank? && @news.blank? && @backtests.blank? && @author.blank?) %>
        <% if !@commentary.blank? %>
          <div class="m-b-lg">
            <h3 class="title bl">Commentary</h3>
            <%= render 'components/truncated_list', :@posts => @commentary %>
          </div>
        <% end %>

        <% if !@news.blank? %>
          <div class="m-b-lg">
            <h3 class="title bl">News</h3>
            <%= render 'components/truncated_list', :@posts => @news %>
          </div>
        <% end %>

        <% if !@backtests.blank? %>
          <div class="m-b-lg">
            <h3 class="title bl">Backtests</h3>
            <%= render 'components/truncated_list', :@posts => @backtests %>
          </div>
        <% end %>

        <% if !@author.blank? %>
          <div class="m-b-lg">
            <h3 class="title bl">Author</h3>
            <%= render 'components/truncated_list', :@posts => @author %>
          </div>
        <% end %>
      <% else %>
        <h4 class="m-b-sm">No results fround for <%= @term %></h4>
        <%= link_to 'Return Home', root_path %>
      <% end %>
    </section>
    <aside class="stock-aside flex-1">
      <%= render 'ads/aside_ad' %>
      <%= render 'ads/aside_ad' %>
      <%= render 'ads/aside_ad' %>
    </aside>
  </section>
</section>
