<% title @symbol.upcase %>
<script>
var ready = function() {
 const stockStr = `https://api.iextrading.com/1.0/stock/market/batch?symbols=${'<%= @symbol %>'}&types=earnings,company,chart&range=1m&last=5`

 function isEmptyObject(obj){
   return JSON.stringify(obj) === '{}';
 }

  $.get(stockStr, function(data){
    if (isEmptyObject(data)) {
      $('.symbol').text('no stock here')
    } else {
      $.each(data, function (k,v) {
        console.log(v);
        $('.symbol').text(v.company.symbol)
        $('.company-name').text(v.company.companyName)
        $('.company-desc').text(v.company.description)

        $.each(v.earnings.earnings, function (k, v) {
          if (v.EPSReportDate !== null) {
            $('.earnings').append(
              '<li class=title>' + v.EPSReportDate + '</li>' +
              '<li>Actual EPS: ' + v.actualEPS + '</li>' +
              '<li>Consensus EPS: ' + v.consensusEPS + '</li>' +
              '<li>Estimated EPS: ' + v.estimatedEPS + '</li>' +
              '<li>Announce Time: ' + v.announceTime + '</li>' +
              '<li>Number Of Estimates: ' + v.numberOfEstimates + '</li>' +
              '<li>EPS SurpriseDollar: ' + v.EPSSurpriseDollar + '</li>' +
              '<li>Fiscal Period: ' + v.fiscalPeriod + '</li>' +
              '<li>Fiscal End Date: ' + v.fiscalEndDate + '</li>'
            )
          }
        })
      })
    }
  })

  $('.stock-links li').on('click', function () {
    $('.popup ul').empty();
    $('.callout .callout-title').text($(this).data('title'));
    $('.popup').fadeIn();

    $('.callout ul').filter(function(){
      return $(this).data('title') === $(this).data('title')
    }).show();
  })
};

$(document).on('turbolinks:load', ready);
</script>

<%= render 'layouts/inner_nav' %>
<section class="content">
<%= render 'ads/banner' %>
  <div class="width flex-row">
    <section class="flex-2">
      <div class="m-b-sm">
        <h2 class="symbol inline"></h2>
        <h4 class="company-name inline"></h4>
      </div>
      <span class="company-desc m-b-md block"></span>

      <% if !(@commentary.blank? && @news.blank? && @backtests.blank?) %>
        <% if !@commentary.blank? %>
          <h3 class="title bl">Commentary</h3>
          <%= render 'components/truncated_list', :@posts => @commentary %>
        <% end %>

        <% if !@news.blank? %>
          <h3 class="title bl">News</h3>
          <%= render 'components/truncated_list', :@posts => @news %>
        <% end %>

        <% if !@backtests.blank? %>
          <h3 class="title bl">Backtests</h3>
          <%= render 'components/truncated_list', :@posts => @backtests %>
        <% end %>
      <% end %>

      <h3 class="title bl">Links</h3>
      <ul class="no-list-style stock-links">
        <li data-title="Earnings">Earnings</li>
        <li data-title="Financials">Financials</li>
      </ul>

      <div class="popup">
        <div class="callout">
          <h3 class="callout-title upcase underline"></h3>
          <ul data-section="Earnings" class="no-list-style earnings"></ul>
        </div>
      </div>
    </section>

    <aside class="stock-aside flex-1">
      <%= render 'components/stock-graph' %>
      <%= render 'ads/aside_ad' %>
      <%= render 'ads/aside_ad' %>
      <%= render 'ads/aside_ad' %>
    </aside>
  </div>
</section>
