<% title @symbol.upcase %>
<script>
var ready = function() {
 const stockStr = `https://api.iextrading.com/1.0/stock/market/batch?symbols=${'<%= @symbol %>'}&types=earnings,company,quote,chart&range=1m&last=5`

 function isEmptyObject(obj){
   return JSON.stringify(obj) === '{}';
 }

  $.get(stockStr, function(data){
    if (isEmptyObject(data)) {
      $('.symbol').text('no stock here')
    } else {
      $.each(data, function (k,v) {
        $('.symbol').text(v.company.symbol)
        $('.company-name').text(v.company.companyName)
        $('.company-desc').text(v.company.description)
        $('.company-price').text(v.quote.latestPrice.toFixed(2))
        $('.company-high').text('High: ' + v.quote.high)
        $('.company-low').text('Low: ' + v.quote.low)
        $('.company-change').html('Change: <span>' + v.quote.change + '</span>')

        $('.exchange span').text('Exchange: ' + v.company.exchange)
        $('.industry span').text('Industry:' + v.company.industry)
        $('.ceo span').text('CEO: ' + v.company.CEO)
        $('.website a').attr('href', v.company.website)

        $.each(v.earnings.earnings, function (k, v) {
          if (v.EPSReportDate !== null) {
            $('.earnings').append(
              '<li class=title>' + v.EPSReportDate + '</li>' +
              '<li>Actual EPS: ' + v.actualEPS + '</li>' +
              '<li>Consensus EPS: ' + v.consensusEPS + '</li>' +
              '<li>Estimated EPS: ' + v.estimatedEPS + '</li>' +
              '<li>Announce Time: ' + v.announceTime + '</li>' +
              '<li>Number Of Estimates: ' + v.numberOfEstimates + '</li>' +
              '<li>EPS SurpriseDollar: ' + v.EPSSurpriseDollar + '</li>' +
              '<li>Fiscal Period: ' + v.fiscalPeriod + '</li>' +
              '<li>Fiscal End Date: ' + v.fiscalEndDate + '</li>'
            )
          }
        })
      })
    }
  })

  $('.stock-links li').on('click', function () {
    $('.popup ul').empty();
    $('.callout .callout-title').text($(this).data('title'));
    $('.popup').fadeIn();

    $('.callout ul').filter(function(){
      return $(this).data('title') === $(this).data('title')
    }).show();
  })
};

$(document).on('turbolinks:load', ready);
</script>

<%= render 'layouts/inner_nav' %>
<section class="content">
<%= render 'ads/banner' %>
  <div class="width flex-row">
    <section class="flex-2">
      <div class="m-b-md flex-row">
        <div class="flex-1">
          <h2 class="symbol inline"></h2>
          <h4 class="company-name block"></h4>
        </div>
        <div class="flex-1">
          <ul class="no-list-style text-right">
            <li><h2 class="company-price"></h2></li>
            <li class="company-high"></li>
            <li class="company-low"></li>
            <li class="company-change"></li>
          </ul>
        </div>
      </div>

      <% if !(@commentary.blank? && @news.blank? && @backtests.blank?) %>
        <% if !@commentary.blank? %>
          <div class="m-b-lg">
            <h3 class="title bl">Commentary</h3>
            <%= render 'components/truncated_list', :@posts => @commentary %>
          </div>
        <% end %>

        <% if !@news.blank? %>
          <div class="m-b-lg">
            <h3 class="title bl">News</h3>
            <%= render 'components/truncated_list', :@posts => @news %>
          </div>
        <% end %>

        <% if !@backtests.blank? %>
          <div class="m-b-lg">
            <h3 class="title bl">Backtests</h3>
            <%= render 'components/truncated_list', :@posts => @backtests %>
          </div>
        <% end %>
      <% end %>

      <h3 class="title bl">Links</h3>
      <ul class="no-list-style stock-links">
        <li data-title="Earnings">Earnings</li>
        <li data-title="Financials">Financials</li>
      </ul>

      <div class="popup">
        <div class="callout">
          <h3 class="callout-title upcase underline"></h3>
          <ul data-section="Earnings" class="no-list-style earnings"></ul>
        </div>
      </div>
    </section>

    <aside class="stock-aside flex-1">
      <%= render 'components/stock_callout', :content => false, :@term => @symbol %>
      <span class="company-desc m-b-md block"></span>
      <ul class="no-list-style">
        <li class="exchange"><span></span></li>
        <li class="industry"><span></span></li>
        <li class="ceo"><span></span></li>
        <li class="website m-b-md"><a class="sm" href="" target="_blank"><span>Visit Website</span></a></li>
      </ul>
      <%= render 'components/stock-graph' %>
      <%= render 'ads/aside_ad' %>
      <%= render 'ads/aside_ad' %>
    </aside>
  </div>
</section>
