<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @commentary.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= raw(@commentary.body) %>
</p>

<%= link_to 'Edit', edit_commentary_path(@commentary) %> |
<%= link_to 'Back', commentaries_path %>
